<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linusu.flutter_web_auth_2">
    
    <application>
        <activity
            android:name=".CallbackActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.flutterwebauth2" />
            </intent-filter>
        </activity>

        <service android:name=".KeepAliveService" />
    </application>
</manifest>
